{% extends "network/layout.html" %}
{% block body %}
<h2>All Posts</h2>
<div class="row">
    <div class="card rounded-0 border-0 shadow mb-3 mx-auto" style="max-width: 50rem;">
        <div class="card-header bg-transparent border-0">
        New Post
        </div>
        <div class="card-body">
        <form action="{% url 'post' %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" autofocus="true" name="content" id="content" maxlength="400"></textarea><br>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
        </div>
    </div>
</div>


   {% for post in page_obj.object_list %}
   <div class="row mb-3">
        <div class="card rounded-0 border-0 shadow mx-auto" style="max-width: 50rem;">
            <div class="card-header bg-transparent border-0">
                <strong><a href="{% url 'profile' post.user.id %}">{{ post.user }}</a></strong>
            </div>
            <div class="card-body text-dark">
                {{ post.content }}
            </div>
            <div class="card-footer bg-transparent text-secondary border-0 d-flex justify-content-between">
                <div>
                <span><i class="fas fa-thumbs-up"></i> {{ post.likes }} Likes</span>
                </div>
                <div>
                <span><i class="far fa-clock"></i> {{ post.timestamp }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


  

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <!-- Previous Page Link -->
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
          {% endif %}
          
          <!-- Page Numbers -->
          {% for i in page_obj.paginator.page_range %}
            <li class="page-item {% if i == page_obj.number %}active{% endif %}">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endfor %}
          
          <!-- Next Page Link -->
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
          {% endif %}
        </ul>
      </nav>
      
   
{% endblock %}
