{% extends "network/layout.html" %}
{% block body %}
<div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>{{ user }}</h2>
    <h3>{{ user.following.count }} Following</h3>
    <h3>{{ user.followers.count }} Followers</h3>
{% if user != request.user %}
    {% if is_following %}
        <form action="{% url 'profile' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mb-3">Unfollow</button>
            <input type="hidden" name="unfollow">
        </form>
    {% else %}
        <form action="{% url 'profile' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark mb-3">Follow</button>
            <input type="hidden" name="follow">
        </form>
    {% endif %}
{% endif %}
   
</div>




   {% for post in posts reversed %}
   <div class="row mb-3">
        <div class="card rounded-0 border-0 shadow mx-auto" style="max-width: 50rem;">
            <div class="card-header bg-transparent border-0">
                <strong>{{ post.user }}</strong>
            </div>
            <div class="card-body text-dark">
                {{ post.content }}
            </div>
            <div class="card-footer bg-transparent text-secondary border-0 d-flex justify-content-between">
                <div>
                <span><i class="fas fa-thumbs-up"></i> {{ post.likes }} Likes</span>
                </div>
                <div>
                <span><i class="far fa-clock"></i> {{ post.timestamp }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
   
{% endblock %}
