{% extends "network/layout.html" %}
{% block body %}
<h2>{{ user }}</h2>



   {% for post in posts reversed %}
   <div class="row mb-3">
        <div class="card rounded-0 border-0 shadow mx-auto" style="max-width: 50rem;">
            <div class="card-header bg-transparent border-0">
                <strong>{{ post.user }}</strong>
            </div>
            <div class="card-body text-dark">
                {{ post.content }}
            </div>
            <div class="card-footer bg-transparent text-secondary border-0 d-flex justify-content-between">
                <div>
                <span><i class="fas fa-thumbs-up"></i> {{ post.likes }} Likes</span>
                </div>
                <div>
                <span><i class="far fa-clock"></i> {{ post.timestamp }}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
   
{% endblock %}
