{% extends "network/layout.html" %}
{% block body %}
<div class="container">
    <h2>{{ user }}</h2>
    <h3>{{ user.following.count }} Following</h3>
    <h3>{{ user.followers.count }} Followers</h3>
{% if user != request.user %}
    {% if is_following %}
        <form action="{% url 'profile' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mb-3">Unfollow</button>
            <input type="hidden" name="unfollow">
        </form>
    {% else %}
        <form action="{% url 'profile' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark mb-3">Follow</button>
            <input type="hidden" name="follow">
        </form>
    {% endif %}
{% endif %}
</div>

<div class="d-flex flex-column align-items-center">
    <div class="message-container" style="width: 50rem;">
        {% if messages %}
            <div class="alert alert-dark" role="alert">
                {% for message in messages %}
                   {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>




   {% for post in posts reversed %}
   <div id="posts">
   <div class="row mb-3">
    <div class="post" data-post-id="{{ post.id }}">
        <div class="card rounded-0 border-0 shadow mx-auto" style="max-width: 50rem;">
            <div class="card-header bg-transparent border-0 d-flex justify-content-between">
                <strong>{{ post.user }}</strong>
                {% if user == request.user %}
                <button type="button" class="btn btn-sm btn-outline-secondary edit-button">Edit Post</button>
                <button type="button" name="save" class="btn btn-sm btn-outline-secondary save-button"  style="display: none;">Save Post</button>
                {% endif %}
            </div>
            <div class="card-body text-dark">
                <p id="post-content" class="post-content">{{ post.content }}</p>
                <textarea id="textarea_{{ post.id }}"class="form-control edited-content" name="edited_content" maxlength="400" style="display: none">{{ post.content }}</textarea>
                <br>
            </div>
            <div class="card-footer bg-transparent text-secondary border-0 d-flex justify-content-between">
                <div>
                <span><i class="fas fa-thumbs-up"></i> {{ post.likes }} Likes</span>
                </div>
                <div>
                <span class="timestamp"><i class="far fa-clock"></i> {{ post.timestamp }}</span>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    {% endfor %}
   
{% endblock %}
