.container{
    display: block;
    justify-content: center;
    text-align: center;
   
}

h2{
    text-align: center;
}


body {
    background-color: #f5f5f5;
}


.card-header{
    display: block;
    justify-content: space-between;
}



/* Style for the like button */
.like-button {
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 16px;
   display: flex;
   align-items: center;
   color: #333; /* Color of the heart icon and like count */
}

/* Style for the heart icon */
.like-button i {
   margin-right: 5px; /* Add spacing between the heart and like count */
   color: black; /* Color of the heart icon */
}